@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
/* line 3, main.scss */
body {
  background-color: #010004;
  font-family: 'Cardo', serif;
}

/* line 10, main.scss */
a, a:hover, a:active, a:focus {
  outline: 0;
  border: 0;
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: Gobold;
  src: url("../fonts/Gobold.ttf");
}

/* line 22, main.scss */
h1 {
  font-family: 'Gobold', serif;
}

/* line 26, main.scss */
h2, h3 {
  font-family: 'Cardo', serif;
  font-weight: bold;
}

/* line 31, main.scss */
h3 {
  font-size: 1.3em;
  margin-bottom: 0;
}

/* line 36, main.scss */
ul {
  list-style: none;
}

/* line 40, main.scss */
.pages {
  background-color: #fff;
}

/* line 44, main.scss */
#container {
  text-align: center;
  overflow: hidden;
}

/* line 52, main.scss */
#home_logo {
  background: url("../images/mk_logo_large.png") top center no-repeat;
  width: 207px;
  height: 203px;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 25px;
  left: 0;
}

/* line 62, main.scss */
nav a {
  display: inline-block;
  margin-right: 75px;
}

/* line 67, main.scss */
#top_nav {
  margin-left: -50px;
}

/* line 71, main.scss */
.topnav, .bottomnav {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 77, main.scss */
#bottom_nav {
  /*position: absolute;
  top:600px;
  left:25%;*/
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 50px 0;
  position: fixed;
  z-index: 99;
}

/* line 89, main.scss */
#bottom_nav a {
  height: 24px;
}

/* line 93, main.scss */
#contact_email {
  margin-left: 550px;
}

/* line 97, main.scss */
#contact_sales {
  height: 200px;
}

/* line 101, main.scss */
#shop, #collections, #films, #about, #contact {
  height: 22px;
  vertical-align: top;
  margin-top: 30px;
}

/* line 107, main.scss */
#shop, #shop_home {
  width: 39px;
}

/* line 111, main.scss */
#collections, #collections_home {
  width: 98px;
}

/* line 116, main.scss */
.topnav:hover {
  border-bottom: 1px solid #000;
}

/* line 121, main.scss */
.ulineBlack {
  border-bottom: 1px solid #000;
}

/* line 126, main.scss */
#shop_home:hover, #collections_home:hover, #films_home:hover, #about_home:hover, #contact_home:hover {
  border-bottom: 1px solid #fff;
}

/* line 131, main.scss */
#shop {
  background: url("../images/menu_shop_black.png") top center no-repeat;
  width: 39px;
}

/* line 137, main.scss */
#shop_home {
  background: url("../images/menu_shop_white.png") top center no-repeat;
}

/* line 141, main.scss */
#collections {
  background: url("../images/menu_collections_black.png") top center no-repeat;
}

/* line 145, main.scss */
#collections_home {
  background: url("../images/menu_collections_white.png") top center no-repeat;
}

/* line 149, main.scss */
#films {
  background: url("../images/menu_films_black.png") top center no-repeat;
  width: 46px;
}

/* line 154, main.scss */
#films_home {
  background: url("../images/menu_films_white.png") top center no-repeat;
  width: 45px;
}

/* line 159, main.scss */
#about {
  background: url("../images/menu_about_black.png") top center no-repeat;
  width: 47px;
}

/* line 164, main.scss */
#about_home {
  background: url("../images/menu_about_white.png") top center no-repeat;
  width: 47px;
}

/* line 169, main.scss */
#contact {
  background: url("../images/menu_contact_black.png") top center no-repeat;
  width: 65px;
}

/* line 174, main.scss */
#contact_home {
  background: url("../images/menu_contact_white.png") top center no-repeat;
  width: 64px;
}

/* line 179, main.scss */
.contact_bg {
  background: url("../images/CONTACT.jpg") top center no-repeat;
  height: 916px;
}

/* line 184, main.scss */
#bottom_nav .dropdown_nav {
  display: inline-block;
  position: relative;
}

/* line 189, main.scss */
#top_nav .dropdown_nav {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* line 195, main.scss */
#top_nav #drop_menu {
  display: none;
  width: 140px;
}
/* line 198, main.scss */
#top_nav #drop_menu a {
  display: block;
  color: #767676;
  font-family: 'Gobold', serif;
}

/* line 205, main.scss */
#bottom_nav #drop_menu {
  display: none;
  width: 140px;
  position: relative;
  top: 10px;
}
/* line 210, main.scss */
#bottom_nav #drop_menu a {
  display: block;
  color: #fff;
  font-family: 'Gobold', serif;
}

/* line 217, main.scss */
#drop_menu a:hover {
  text-decoration: underline;
}

/* line 221, main.scss */
#showCollections {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 226, main.scss */
#header_graphic {
  max-width: 913px;
  margin: 0 auto 30px auto;
}

/* line 231, main.scss */
#header_graphic img {
  width: 100%;
}

/* line 235, main.scss */
.black_outline {
  background-color: #000;
  color: #fff;
  width: 235px;
  font-family: 'Gobold', serif;
  margin: 0 auto 30px auto;
  font-weight: normal;
  font-size: 24px;
  padding: 4px;
}

/* line 246, main.scss */
#align_thumbnail {
  display: inline-block;
}
/* line 248, main.scss */
#align_thumbnail img {
  width: 100%;
}

/* line 253, main.scss */
.portrait {
  width: 21.6%;
  margin: 0 13px 20px 0;
}

/* line 258, main.scss */
.fwp_last {
  width: 21.6%;
  margin: 0 0 20px 0;
}

/* line 263, main.scss */
.fwl_last {
  width: 24%;
  margin: 0 0 20px 0;
}

/* line 268, main.scss */
#fancybox-loading {
  display: none;
}

/* line 272, main.scss */
.spring_summer {
  width: 29.3%;
  margin: 0 13px 20px 0;
}

/* line 277, main.scss */
.ss_last {
  width: 29.3%;
  margin: 0 0 20px 0;
}

/* line 282, main.scss */
.landscape {
  width: 31%;
  margin: 0 23px 20px 0;
}

/* line 287, main.scss */
#header, #sidebar {
  display: none;
}

/* line 292, main.scss */
.pages #header, .pages #sidebar {
  display: inline-block;
}
/* line 295, main.scss */
.pages #header {
  vertical-align: top;
  margin-top: 50px;
}
/* line 299, main.scss */
.pages #bottom_nav {
  display: none;
}
/* line 302, main.scss */
.pages #home_logo {
  display: none;
}

/* line 307, main.scss */
#sidebar {
  background: url("../images/mk_logo_small.png") top center no-repeat;
  width: 103px;
  height: 108px;
}

/* line 314, main.scss */
#content {
  position: relative;
  top: 20px;
}

/* line 319, main.scss */
#films_main {
  margin: 0 auto;
  max-width: 900px;
  /*width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 10px;*/
}

/* line 330, main.scss */
#shop_main {
  position: absolute;
  top: -475px;
  width: 675px;
}

/* line 336, main.scss */
.pages #shop_main {
  position: relative;
  top: 0;
  margin: 0 auto;
}

/* line 342, main.scss */
#mc_embed_signup .mc-field-group {
  top: 375px;
}

/* line 346, main.scss */
#mc_embed_signup .clear {
  position: relative;
  top: 370px;
  text-align: center;
  margin-left: -20px;
}

/* line 353, main.scss */
#mc_embed_signup .button {
  background-color: #000 !important;
  color: #929292 !important;
  text-decoration: uppercase;
  font-family: 'Gobold', serif;
}

/* line 360, main.scss */
#mc_embed_signup .mc-field-group input {
  width: 250px !important;
  margin: 0 auto;
}

/* line 365, main.scss */
#mc_embed_signup div#mce-responses {
  top: 23.5em !important;
  left: 3em;
  color: #fff;
}

/* line 371, main.scss */
#mc_embed_signup #mce-success-response {
  color: #fff !important;
}

/* line 375, main.scss */
#films_list {
  text-align: left;
  height: 150px;
}
/* line 378, main.scss */
#films_list li {
  margin-top: 10px;
}
/* line 381, main.scss */
#films_list a {
  font-size: 1.1em;
}

/* line 386, main.scss */
#vid2 {
  display: none;
}

/* line 390, main.scss */
#about_main {
  position: relative;
  /*top: -20px;
  left: 50px;*/
}

/* line 396, main.scss */
#contact_main {
  position: relative;
  right: 200px;
}

/* line 403, main.scss */
#about_main article {
  margin-top: 30px;
}

/* line 407, main.scss */
#about_description {
  width: 700px;
  margin: 0 auto;
}

/* line 412, main.scss */
#about_feature, #contact_feature {
  display: inline;
}

/* line 417, main.scss */
#about_feature img {
  max-width: 100%;
}

/* line 422, main.scss */
#about_download a {
  font-weight: bold;
}

/* line 427, main.scss */
#find_career a {
  font-weight: bold;
}

/* line 434, main.scss */
#careers_main h1 {
  margin-bottom: 100px;
}

/* line 439, main.scss */
#career_contact {
  margin: 50px 0 0 15px;
}
/* line 441, main.scss */
#career_contact a {
  font-style: italic;
  font-weight: bold;
}

/* line 447, main.scss */
#career_list {
  text-align: left;
  margin-left: 325px;
}
/* line 450, main.scss */
#career_list li {
  font-weight: bold;
  line-height: 35px;
}

/* line 460, main.scss */
#contact_feature img {
  max-width: 100%;
}

/* line 465, main.scss */
#contact_email {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

/* line 471, main.scss */
#inquiries {
  margin-bottom: 30px;
}

@media only screen and (max-width: 860px) {
  /* line 476, main.scss */
  #container {
    text-align: left;
    margin-left: 50px;
  }

  /* line 480, main.scss */
  .pages #header {
    margin-top: 0;
    display: block;
  }

  /* line 485, main.scss */
  #about_main {
    top: 10px;
    left: 0;
  }

  /* line 489, main.scss */
  #content {
    top: 30px;
    left: 0;
  }

  /* line 494, main.scss */
  #about_description {
    width: 100%;
  }

  /* line 497, main.scss */
  #top_nav {
    margin-left: 0px;
  }
  /* line 499, main.scss */
  #top_nav a {
    display: block;
  }
}
