@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
/* line 3, main.scss */
body {
  background-color: #010004;
  font-family: "Cardo", serif;
}

/* line 10, main.scss */
a, a:hover, a:active, a:focus {
  outline: 0;
  border: 0;
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: Gobold;
  src: url("../fonts/Gobold.ttf");
}

/* line 22, main.scss */
h1 {
  font-family: "Gobold", serif;
}

/* line 26, main.scss */
h2, h3 {
  font-family: "Cardo", serif;
  font-weight: bold;
}

/* line 31, main.scss */
h3 {
  font-size: 1.3em;
  margin-bottom: 0;
}

/* line 36, main.scss */
ul {
  list-style: none;
}

/* line 40, main.scss */
.pages {
  background-color: #fff;
}

/* line 44, main.scss */
#container {
  text-align: center;
  overflow: hidden;
}

/* line 52, main.scss */
#home_logo {
  background: url("../images/mk_logo_large.png") top center no-repeat;
  width: 207px;
  height: 203px;
  margin: 50px 0 0 50px;
  position: absolute;
  top: 25px;
  left: 0;
}

/* line 62, main.scss */
nav a {
  display: inline-block;
  margin-right: 75px;
}

/* line 67, main.scss */
#top_nav {
  margin-left: -50px;
}

/* line 71, main.scss */
.topnav, .bottomnav {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 77, main.scss */
#bottom_nav {
  position: absolute;
  top: 700px;
  left: 25%;
}

/* line 83, main.scss */
#bottom_nav a {
  height: 24px;
}

/* line 87, main.scss */
#contact_email {
  margin-left: 550px;
}

/* line 92, main.scss */
#shop, #collections, #films, #about, #contact {
  height: 22px;
  vertical-align: top;
  margin-top: 30px;
}

/* line 98, main.scss */
#shop, #shop_home {
  width: 39px;
}

/* line 102, main.scss */
#collections, #collections_home {
  width: 98px;
}

/* line 107, main.scss */
.topnav:hover {
  border-bottom: 1px solid black;
}

/* line 112, main.scss */
.ulineBlack {
  border-bottom: 1px solid black;
}

/* line 117, main.scss */
#shop_home:hover, #collections_home:hover, #films_home:hover, #about_home:hover, #contact_home:hover {
  border-bottom: 1px solid white;
}

/* line 122, main.scss */
#shop {
  background: url("../images/menu_shop_black.png") top center no-repeat;
  width: 39px;
}

/* line 128, main.scss */
#shop_home {
  background: url("../images/menu_shop_white.png") top center no-repeat;
}

/* line 132, main.scss */
#collections {
  background: url("../images/menu_collections_black.png") top center no-repeat;
}

/* line 136, main.scss */
#collections_home {
  background: url("../images/menu_collections_white.png") top center no-repeat;
}

/* line 140, main.scss */
#films {
  background: url("../images/menu_films_black.png") top center no-repeat;
  width: 46px;
}

/* line 145, main.scss */
#films_home {
  background: url("../images/menu_films_white.png") top center no-repeat;
  width: 45px;
}

/* line 150, main.scss */
#about {
  background: url("../images/menu_about_black.png") top center no-repeat;
  width: 47px;
}

/* line 155, main.scss */
#about_home {
  background: url("../images/menu_about_white.png") top center no-repeat;
  width: 47px;
}

/* line 160, main.scss */
#contact {
  background: url("../images/menu_contact_black.png") top center no-repeat;
  width: 65px;
}

/* line 165, main.scss */
#contact_home {
  background: url("../images/menu_contact_white.png") top center no-repeat;
  width: 64px;
}

/* line 170, main.scss */
.contact_bg {
  background: url("../images/CONTACT.jpg") top center no-repeat;
}

/* line 174, main.scss */
.dropdown_nav {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* line 180, main.scss */
nav #drop_menu {
  display: none;
  width: 140px;
}
/* line 183, main.scss */
nav #drop_menu a {
  display: block;
  color: #767676;
  font-family: "Gobold", serif;
}

/* line 190, main.scss */
#showCollections {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 195, main.scss */
#header_graphic {
  max-width: 913px;
  margin: 0 auto 30px auto;
}

/* line 200, main.scss */
#header_graphic img {
  width: 100%;
}

/* line 204, main.scss */
.black_outline {
  background-color: #000;
  color: #fff;
  width: 222px;
  font-family: "Gobold", serif;
  margin: 0 auto 30px auto;
  font-weight: normal;
  font-size: 24px;
}

/* line 214, main.scss */
#align_thumbnail {
  display: inline-block;
}
/* line 216, main.scss */
#align_thumbnail img {
  width: 100%;
}

/* line 221, main.scss */
.portrait {
  width: 21.6%;
  margin: 0 13px 20px 0;
}

/* line 226, main.scss */
.fwp_last {
  width: 21.6%;
  margin: 0 0 20px 0;
}

/* line 231, main.scss */
.fwl_last {
  width: 24%;
  margin: 0 0 20px 0;
}

/* line 236, main.scss */
#fancybox-loading {
  display: none;
}

/* line 240, main.scss */
.spring_summer {
  width: 29.3%;
  margin: 0 13px 20px 0;
}

/* line 245, main.scss */
.ss_last {
  width: 29.3%;
  margin: 0 0 20px 0;
}

/* line 250, main.scss */
.landscape {
  width: 31%;
  margin: 0 23px 20px 0;
}

/* line 255, main.scss */
#header, #sidebar {
  display: none;
}

/* line 260, main.scss */
.pages #header, .pages #sidebar {
  display: inline-block;
}
/* line 263, main.scss */
.pages #header {
  vertical-align: top;
  margin-top: 50px;
}
/* line 267, main.scss */
.pages #bottom_nav {
  display: none;
}
/* line 270, main.scss */
.pages #home_logo {
  display: none;
}

/* line 275, main.scss */
#sidebar {
  background: url("../images/mk_logo_small.png") top center no-repeat;
  width: 103px;
  height: 108px;
}

/* line 282, main.scss */
#content {
  position: relative;
  /*position: relative;
  top: -20px;
  left: 50px;*/
}

/* line 293, main.scss */
#films_main {
  margin: 0 auto;
  max-width: 900px;
  /*width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 10px;*/
}

/*.sublimevideo-View {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
/* line 312, main.scss */
#films_list {
  text-align: left;
}
/* line 314, main.scss */
#films_list li {
  margin-top: 10px;
}
/* line 317, main.scss */
#films_list a {
  font-size: 1.1em;
}

/* line 322, main.scss */
#about_main {
  left: 54px;
  position: relative;
  /*top: -20px;
  left: 50px;*/
}

/* line 329, main.scss */
#contact_main {
  position: relative;
  right: 200px;
}

/* line 336, main.scss */
#about_main article {
  margin-top: 30px;
}

/* line 340, main.scss */
#about_description {
  width: 700px;
  margin: 0 auto;
}

/* line 345, main.scss */
#about_feature, #contact_feature {
  display: inline;
}

/* line 350, main.scss */
#about_feature img {
  max-width: 100%;
}

/* line 355, main.scss */
#about_download a {
  font-weight: bold;
}

/* line 360, main.scss */
#find_career a {
  font-weight: bold;
}

/* line 367, main.scss */
#careers_main h1 {
  margin-bottom: 100px;
}

/* line 372, main.scss */
#career_contact {
  margin: 50px 0 0 15px;
}
/* line 374, main.scss */
#career_contact a {
  font-style: italic;
  font-weight: bold;
}

/* line 380, main.scss */
#career_list {
  text-align: left;
  margin-left: 325px;
}
/* line 383, main.scss */
#career_list li {
  font-weight: bold;
  line-height: 35px;
}

/* line 393, main.scss */
#contact_feature img {
  max-width: 100%;
}

/* line 398, main.scss */
#contact_email {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

/* line 404, main.scss */
#inquiries {
  margin-bottom: 30px;
}

@media only screen and (max-width: 860px) {
  /* line 409, main.scss */
  #container {
    text-align: left;
    margin-left: 50px;
  }

  /* line 413, main.scss */
  .pages #header {
    margin-top: 0;
    display: block;
  }

  /* line 418, main.scss */
  #about_main {
    top: 10px;
    left: 0;
  }

  /* line 422, main.scss */
  #content {
    top: 30px;
    left: 0;
  }

  /* line 427, main.scss */
  #about_description {
    width: 100%;
  }

  /* line 430, main.scss */
  #top_nav {
    margin-left: 0px;
  }
  /* line 432, main.scss */
  #top_nav a {
    display: block;
  }
}
