@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);

body {
	background-color: #010004;
	//font-family: Gobold;
	font-family: 'Cardo', serif;
	//text-align: center;
}

a, a:hover, a:active, a:focus {
	outline: 0;
	border: 0;
	color: #000;
	text-decoration: none;
}

@font-face {
	font-family: Gobold;
	src: url('../fonts/Gobold.ttf') format('ttf'), url('../fonts/Gobold.woff') format('woff');
}

h1 {
	font-family: 'Gobold', serif;
}

h2, h3 {
	font-family: 'Cardo', serif;
	font-weight: bold;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 0;
}

ul {
	list-style: none;
}

.pages {
	background-color: #fff;
}

#container {
	//width: 1000px;
	//margin: 0 auto;
	//max-width: 1600px;
	text-align: center;
	overflow: hidden;
}

#home_logo {
	background: url('../images/mk_logo_large.png') top center no-repeat;
	width: 207px;
	height: 203px;
	margin: 50px 0 0 50px;
	position: absolute;
	top:25px;
	left:0;
}

nav a {
  	display: inline-block;
  	margin-right: 75px;
}

#top_nav {
	margin-left: -50px;
}

.topnav, .bottomnav {
	font: 0/0 a;
  	text-shadow: none;
  	color: transparent;
}

#bottom_nav {
	/*position: absolute;
	top:600px;
	left:25%;*/
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 50px 0;
	position: fixed;
	z-index: 99;
}

#bottom_nav a {
  	height: 24px;
}

/*#contact_email {
	margin-left: 550px;
}*/

#contact_sales {
	height: 200px;
}

#shop, #collections, #films, #about, #contact {
	height: 22px;
	vertical-align: top;
	margin-top: 30px;
}

#shop, #shop_home {
	width: 39px;
}

#collections, #collections_home {
	width: 98px;
}

.topnav {
	&:hover {
		border-bottom: 1px solid #000;
	}
}

.ulineBlack {
	border-bottom: 1px solid #000;
}

#shop_home, #collections_home, #films_home, #about_home, #contact_home {
	&:hover {
		border-bottom: 1px solid #fff;
	}
}

#shop {
	background: url('../images/menu_shop_black.png') top center no-repeat;
	width: 39px;
	//height: 19px;
}

#shop_home {
	background: url('../images/menu_shop_white.png') top center no-repeat;
}

#collections {
	background: url('../images/menu_collections_black.png') top center no-repeat;
}

#collections_home {
	background: url('../images/menu_collections_white.png') top center no-repeat;
}

#films {
	background: url('../images/menu_films_black.png') top center no-repeat;
	width: 46px;
}

#films_home {
	background: url('../images/menu_films_white.png') top center no-repeat;
	width: 45px;
}

#about {
	background: url('../images/menu_about_black.png') top center no-repeat; // wrong image
	width: 47px;
}

#about_home {
	background: url('../images/menu_about_white.png') top center no-repeat;
	width: 47px;
}

#contact {
	background: url('../images/menu_contact_black.png') top center no-repeat;
	width: 65px;
}

#contact_home {
	background: url('../images/menu_contact_white.png') top center no-repeat;
	width: 64px;
}

.contact_bg {
	background: url('../images/CONTACT.jpg') top center no-repeat;
	height: 916px;
}

#bottom_nav .dropdown_nav {
	display: inline-block;
	position: relative;
}

#top_nav .dropdown_nav {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#top_nav #drop_menu {
	display: none;
	width: 140px;
	a {
		display: block;
		color: #767676;
		font-family: 'Gobold', serif;
	}
}

#bottom_nav #drop_menu {
	display: none;
	width: 140px;
	position: relative;
	top: 10px;
	a {
		display: block;
		color: #fff;
		font-family: 'Gobold', serif;
	}
}

#drop_menu a:hover {
	text-decoration: underline;
}

#showCollections {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 50px;
}

#header_graphic {
	max-width: 913px;
	margin: 0 auto 30px auto;
}

#header_graphic img {
	width: 100%;
}

.black_outline {
	background-color: #000;
	color: #fff;
	width: 235px;
	font-family: 'Gobold', serif;
	margin: 0 auto 30px auto;
	font-weight: normal;
	font-size: 24px;
	padding: 4px;
}

#align_thumbnail {
	display: inline-block;
	img {
		width: 100%;
	}
}

.portrait {
	width: 21.6%;
	margin: 0 13px 20px 0;
}

.fwp_last {
	width: 21.6%;
	margin: 0 0 20px 0;
}

.fwl_last {
	width: 24%;
	margin: 0 0 20px 0;
}

#fancybox-loading {
	display: none;
}

.spring_summer {
	width: 29.3%;
	margin: 0 13px 20px 0;
}

.ss_last {
	width: 29.3%;
	margin: 0 0 20px 0;
}

.landscape {
	width: 31%;
	margin: 0 23px 20px 0;
}

#header, #sidebar {
	display: none;
}

.pages {
	#header, #sidebar {
		display: inline-block;
	}
	#header {
		vertical-align: top;
		margin-top: 50px;
	}
	#bottom_nav {
		display: none;
	}
	#home_logo {
		display: none;
	}
}

#sidebar {
	background: url('../images/mk_logo_small.png') top center no-repeat;
	width: 103px;
	height: 108px;
	//margin: 25px 50px 0 0;
}

#content {
	position: relative;
	top: 20px;
}

#films_main {
	margin: 0 auto;
	max-width: 1025px;
	//max-width: 900px;
	/*width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin-bottom: 10px;*/
}

#shop_main {
	position: absolute;
	top: -475px;
	width: 675px;
}

.pages #shop_main {
	position: relative;
	top: 0;
	margin: 0 auto;
}

#mc_embed_signup .mc-field-group {
	top: 375px;
}

#mc_embed_signup .clear {
	position: relative;
	top: 370px;
	text-align: center;
	margin-left: -20px;
}

#mc_embed_signup .button {
	background-color: #000 !important;
	color: #929292 !important;
	text-decoration: uppercase;
	font-family: 'Gobold', serif;
}

#mc_embed_signup .mc-field-group input {
	width: 250px !important;
	margin: 0 auto;
}

#mc_embed_signup div#mce-responses {
	top: 23.5em !important;
	left: 3em;
	color: #fff;
}

#mc_embed_signup #mce-success-response {
	color: #fff !important;
}

#films_list {
	text-align: left;
	height: 150px;
	padding-left: 15px;
	padding-top: 10px;
	li {
		margin-top: 10px;
	}
	a {
		font-size: 1.1em;
		text-decoration: underline;
	}
}

#vid2 {
	display: none;
}

#about_main {
	position: relative;
	/*top: -20px;
	left: 50px;*/
}

#contact_main {
	position: relative;
	right: 200px;
}

// About

#about_main article {
	margin-top: 30px;
}

#about_description {
	width: 700px;
	margin: 0 auto;
}

#about_feature, #contact_feature {
	//width: 642px;
	display: inline;
}

#about_feature img {
	max-width: 100%;
}

#about_download {
	a {
		font-weight: bold;
	}
}

#find_career a {
	font-weight: bold;
}

// Careers

#careers_main {
	h1 {
		margin-bottom: 100px;
	}
}

#career_contact {
	margin: 50px 0 0 15px;
 	a {
		font-style: italic;
		font-weight: bold;
	}
}

#career_list {
	text-align: left;
	margin-left: 325px;
	li {
		font-weight: bold;
		line-height: 35px;
	}
}

// Contact

#contact_feature {
	//display: inline-block;
	img {
		max-width: 100%;
	}
}

#contact_email {
	display: inline-block;
	text-align: left;
	//margin-left: 20px;
}

#inquiries {
	margin-bottom: 30px;
}

.sublimevideo-Button .sublimevideo-ImageView {
	visibility: hidden;
}

.vid_title {
	display: none;
}

.ie_bg {
	background: url('../js/assets/nuloop.jpg') top center no-repeat;
}

@media only screen and (max-width: 860px) {
	#container {
		text-align: left;
		margin-left: 15px;
	}
	.pages #header {
		margin-top: 0;
		display: block;

	}
	#about_main {
		top: 10px;
		left: 0;
	}
	#content {
		top: 30px;
		left: 0;
		//margin: 30px 0 0;
	}
	#about_description {
		width: 100%;
	}
	#top_nav {
		margin-left: 0px;
	 	a {
			display: block;
		}
	}

	#contact_email {
		position: relative;
		left: 350px;
		bottom: 150px;
	}

	#films_list a {
		display: none;
	}

	#vid1 {
		width:400px;
		margin-bottom: 20px;
	}

	#vid2 {
		width:400px;
		display: block;
	}

	.vid_title {
  		display: block;
  		margin: 0 0 10px 20px;
  	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
	#home_logo {
		margin: 0 0 0 10px;
		top:5px;
	}
	
	nav a {
    	margin-right: 40px;
  	}
  	
  	#bottom_nav {
		padding: 30px 0 0 10px;
  	}
  	
  	#contact_email {
  		left: 272px;
  		bottom: 73px;
  	}
}

@media only screen and (max-width: 479px) {
	#home_logo {
		margin: 10px 0 0 20px;
	}

	#bottom_nav {
		left: 20px;
	}

	nav a {
		margin-right: 50px;
	}

	#mc_embed_signup {
		height: 300px !important;
		width: 400px !important;
		background-size: cover !important;
		padding-top: 46% !important;
	}

	#mc_embed_signup .mc-field-group {
		top: -80px;
	}

	#mc_embed_signup .button {
		position: relative;
		top: -463px;
		display: block;
	}

	#films_main {
		position: relative;
		left: -10px;
		max-width: 440px;
	}

	#contact_email {
		color: #fff;
		a {
			color: #fff;
		}
	}

	#top_nav #drop_menu {
		position: absolute;
		left: 105px;
		top: 27px;
	}

}
