<section id="showCollections">
 	<h2 class="black_outline">Fall/Winter 2014-15</h2>
 	<div id="header_graphic">
 		<img src="images/header.jpg" />
 	</div>
 	<% _.each(model, function(cl) { %>
 		<div id="align_thumbnail" class="<%= cl.mode %>">
			<a href="images/fw_slides/<%= cl.name %>SLIDE.jpg" class="fancybox" id="<%= cl.name %>" rel="fallWinter" title="<%= cl.name %>"><img src="images/fw_thumbnails/<%= cl.name %>.jpg" /></a>
		</div>
	<% }); %>
</section>
<script type="text/javascript">
$('.fancybox').fancybox({
    padding : 0,
    openEffect  : 'elastic'
  });
</script>