<div id="films_main">
<div id="vid1">
<video id="16f8923e" class="sublime" poster="http://mankimatelier.com/images/UntitledStill.jpg" width="1024" height="401" data-uid="16f8923e" data-autoresize="fit" preload="none">
  <source src="http://carlosoblivion.com/man-kim/films/untitled.mp4" />
  <source src="http://carlosoblivion.com/man-kim/films/untitled_web.mp4" />
</video>
</div>
<span class="vid_title">Untitled</span>
<div id="vid2">
<video id="5d6a8804" class="sublime" poster="http://mankimatelier.com/images/AtTheHelmStill.jpg" width="1024" height="401" data-uid="5d6a8804" data-autoresize="fit" preload="none">
  <source src="http://carlosoblivion.com/man-kim/films/atthehelmofthebase.mp4" />
  <source src="http://carlosoblivion.com/man-kim/films/atthehelmofthebase_mobile.mp4" />
</video>
</div>
<span class="vid_title">At the Helm of the Base</span>
<section id="films_list">
<ul>
	<li><a id="6TtN5c1gl8I" class="video1" href="#!films">Untitled</a></li>
	<li><a id="XlAFca21jnM" class="video2" href="#!films">At the Helm of the Base</li>
</ul>
</section>
</div>
<script type="text/javascript" src="//cdn.sublimevideo.net/js/trxmivtl.js"></script>