<div id="films_main">
<div id="vid1">
<video id="6TtN5c1gl8I" class="sublime" width="900" height="506" title="Untitled" data-uid="6TtN5c1gl8I" data-youtube-id="6TtN5c1gl8I" data-autoresize="fit" preload="none">
</video>
</div>
<div id="vid2">
<video id="XlAFca21jnM" class="sublime" width="900" height="506" title="At the Helm of the Base" data-uid="XlAFca21jnM" data-youtube-id="XlAFca21jnM" data-autoresize="fit" preload="none">
</video>
</div>
<section id="films_list">
<ul>
	<li><a id="6TtN5c1gl8I" class="video1" href="#!films">Untitled</a></li>
	<li><a id="XlAFca21jnM" class="video2" href="#!films">At the Helm of the Base</li>
</ul>
</section>
</div>
<script type="text/javascript" src="//cdn.sublimevideo.net/js/trxmivtl.js"></script>
<script type="text/javascript" src="//cdn.sublimevideo.net/js/299ej5zn.js"></script>